@import "../global.less";

.container{
  text-align: center;
  margin-top: 50px;
}
.welcomeBg{
  width: 40%;
}
.welcomeTitle{
  color: rgba(0,0,0,.85);
  font-size: 24px;
  margin-top: 10px
}
.welcomeNote{
  color: rgba(0,0,0,.45);
  font-size: 14px;
  margin-top: 10px
}
